@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$primary-font: 'Open Sans', sans-serif;
$primary-color: #17344A;
$primary-color-faded: #647F93;
$logo-backing-colour: #335267;
$filter-hover-color: #EBF3F5;
$play-trailer-color: #82C91E;
$play-trailer-hover-color: #66A80F;
$trailer-unavailable-color: #D5DFE6;
$bad-review-color: #F03E3E;
$average-review-color: #FFD43B;
$good-review-color: #74B816;
$search-input-color: #F9FBFC;
$search-hover-color: #FCFDFE;

body {
    font-family: 'Roboto', sans-serif;
    max-width: 100vw;
    overflow: scroll;
    color: $primary-color;
    h3 {
        font-size: 3vh;
    }
    p {
        font-size: 2vh;
        margin: 0;
    }
}

.app {
    border: 1px solid rgb(180, 180, 180);
    -webkit-box-shadow: 0 0 10px rgb(180, 180, 180);
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(180, 180, 180);
    margin: 1vh;
    overflow: hidden;
}

#logo-header-div {
    background-color: $logo-backing-colour;
    padding: 15px;
    margin: 0;
    margin-bottom: 10px;
    max-width: 100%;
    line-height: 0;
    div {
        img {
            max-width: 90vw;
            height: auto;
            margin-left: 10px;
        }
    }
}

#search-bar {
    position: relative;
    overflow: hidden;
    div {
        display: flex;
        max-width: 90vw;
        margin: auto;
        padding: 2vh 0;
        label {
            position: absolute;
            align-self: center;
            padding-left: 12px;
            img {
                display: block;
                height: 12px;
                width: auto;
            }
        }
        input {
            padding: 8px 30px;
            color: $primary-color;
        }

        input[type=text] {
            flex-grow: 1;
            border-radius: 5px 0 0 5px;
            border: 1px solid $trailer-unavailable-color;
            background-color: $search-input-color;
            &::placeholder {
                color: #7992A5;
            }
            &:focus {
                outline: none;
                border: 1px solid $primary-color-faded;
                background-color: $search-hover-color;
            }
            &:hover {
                border: 1px solid $primary-color-faded;
                background-color: $search-hover-color;
            }
        }
        input[type=submit] {
            border-radius: 0 5px 5px 0;
            font-family: $primary-font;
            border: 1px solid $trailer-unavailable-color; 
            border-left: 0;
            background: linear-gradient(0deg, rgba(217,227,232,1) 0%, rgba(255,255,255,1) 100%);
            &:hover {
                background: none;
                background-color: $search-hover-color;
            }
            &:focus {
                background: linear-gradient(0deg, rgba(255,255,255,1) 91%, rgba(188,197,201,1) 100%);
            }
        }
    }
}

.item-card {
    display: flex;
    height: 30vh;
    max-width: 90vw;
    margin: auto;
    border-top: 1.2px solid $trailer-unavailable-color;
    .card-image-div {
        display: flex;
        align-items: center;
        img {
            height: 26vh;
            width: auto;
            display: block;
        }
    }

    .item-card-content {
        flex-grow: 1;
        display:  flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30vh;
        padding-left: 2vw;
        .card-header-div {
            height: 40%;
            h3 {
                margin: 10px 0;
                strong {
                    color: $primary-color-faded;
                }
            }
            p {
                margin: 10px 0;
                color: $primary-color-faded;
                button {
                    background-color: white;
                    border: 1px solid $trailer-unavailable-color;
                    border-radius: 4px;
                    padding: 3px 5px;
                    box-shadow: none;
                    color: $primary-color-faded;
                }
            }
        }
        .card-text-div {
            // width: 90%;
            margin: 0 0 1em 0;
            overflow: hidden;
            --lh: 1.2rem;
            line-height: var(--lh);
            --max-lines: 4;
            position: relative;
            height: calc(var(--lh) * var(--max-lines));
            // padding-right: 1rem; /* space for ellipsis */
            p {
                margin: 0;
            }
        }
        .card-footer-div {
            height: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                white-space: nowrap;
                border-radius: 20px;
                padding: 7px 10px;
                background-color: $play-trailer-color;
                color: $filter-hover-color;
                border: none;
                .clipped-play-symbol {
                    display: inline-block;
                    background-color: white;
                    width: 12px;
                    height: 14px;
                    margin-right: 5px;
                    clip-path: polygon(100% 50%, 0 0, 0 100%);
                }
                &:hover {
                    background-color: $play-trailer-hover-color;
                }
            }
            .no-trailer-button {
                background-color: $trailer-unavailable-color;
                color: $primary-color-faded;
                &:hover {
                    cursor: not-allowed;
                    background-color: $trailer-unavailable-color;
                    cursor: url('assets/not-available-cursor.png'), auto;
                }
                .clipped-play-symbol {
                    background-color: $primary-color-faded;
                }
            }
            .card-ratings-div {
                flex-grow: 1;
                p {
                    margin: 0;
                }
                div {
                    background-color: $bad-review-color;
                }
            }
        }

    }
}

#modal-trailer-panel {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        padding: 5vh;
        background-color: white;
        border-radius: 20px;
        position: relative;
        button {
            position: absolute;
            top: 1vh;
            right: 2vw;
        }
    }
}