@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

$primary-font: "Mukta", Verdana, sans-serif;
$primary-color: #17344a;
$primary-color-faded: #647f93;
$logo-backing-colour: #335267;
$faded-grey: #d5dfe6;
$filter-hover-color: #ebf3f5;
$play-trailer-color: #82c91e;
$play-trailer-hover-color: #66a80f;
$element-white: #fcfdfe;

:root {
    --rating-width: 0%;
    --rating-color: #f03e3e;
}

body {
    font-family: $primary-font;
    max-width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
    color: $primary-color;
    h3 {
        font-size: 1.2em;
        font-family: "Open Sans", "Lucida Sans", "Lucida Sans Regular", Verdana,
            sans-serif;
    }
    p {
        font-size: 2vh;
        margin: 0;
    }
}

#app-container {
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 0 5px $faded-grey;
    -webkit-box-shadow: 0 0 5px $faded-grey;
    margin: 0;
}
header {
    background-color: $logo-backing-colour;
    padding: 10px 0;
}
#logo-header-div {
    position: relative;
    // padding: 15px;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    line-height: 0;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    max-width: 100%;
    img {
        display: block;
        max-width: 45%;
        height: auto;
    }
}

#search-bar {
    position: relative;
    overflow: hidden;
    div {
        display: flex;
        max-width: 93%;
        margin: auto;
        padding: 15px 0;
        label {
            position: absolute;
            align-self: center;
            padding-left: 10px;
            img {
                display: block;
                height: 12px;
                width: auto;
            }
        }
        input {
            padding: 8px 0;
            color: $primary-color;
        }

        input[type="text"] {
            flex-grow: 1;
            border-radius: 4px 0 0 4px;
            border: 1.1px solid $faded-grey;
            background-color: #f9fbfc;
            padding-left: 35px;
            font-size: 0.9em;
            &::placeholder {
                color: $primary-color-faded;
            }
            &:focus {
                outline: none;
                border: 1.1px solid $logo-backing-colour;
                background-color: $element-white;
            }
            &:hover {
                border: 1.1px solid $logo-backing-colour;
                background-color: $element-white;
            }
        }

        input[type="submit"] {
            border-radius: 0 4px 4px 0;
            font-family: $primary-font;
            font-size: 1em;
            border: 1.1px solid $faded-grey;
            padding: 0 24px;
            border-left: 0;
            background: linear-gradient(
                0deg,
                rgb(237, 240, 241) 0%,
                rgba(255, 255, 255, 1) 100%
            );
            &:hover {
                background: none;
                background-color: $element-white;
            }
            &:focus {
                background: linear-gradient(
                    0deg,
                    rgba(255, 255, 255, 1) 90%,
                    rgba(188, 197, 201, 1) 100%
                );
                outline: none;
            }
        }
    }
}

#search-bar-container {
    position: relative;
}

#search-clear-button {
    display: none;
    position: absolute;
    background: #f9fbfc;
    border: none;
    height: 40%;
    right: 110px;
    top: 20px;
    color: #3381c9;
    &:hover {
        cursor: pointer;
    }
    &.shown {
        display: block;
    }
}

#filter-options-div {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#attribution-header {
    position: relative;
    width: 93%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #disclaimer {
        width: 75%;
        color: #90cea1;
    }
    #about-dropdown-button {
        background: $logo-backing-colour;
        border-radius: 5px;
        border: none;
        color: $element-white;
        font-size: 15px;
        padding: 5px;
        div {
            padding: 0;
            display: inline-block;
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            background-color: $element-white;
            width: 10px;
            height: 10px;
        }
    }
    #about-dropdown-content {
        display: none;
        width: 102%;
        position: absolute;
        top: 105%;
        right: 0;
        background-color: $element-white;
        padding-bottom: 50vh;
        z-index: 2;
        &.show {
            display: block;
        }
        img {
            width: 80%;
            height: auto;
            display: block;
            margin: 5vh auto;
        }
    }
}

#count-description {
    max-width: 93%;
    margin: 20px auto 0;
    font-size: 16px;
    border-bottom: 1.2px solid $faded-grey;
}

#results-container {
    position: relative;
}

.item-card {
    display: flex;
    height: 37vh;
    max-width: 93%;
    margin: auto;
    border-bottom: 1.2px solid $faded-grey;
    .card-image-div {
        display: flex;
        align-items: center;
        img {
            height: 32vh;
            width: auto;
            display: block;
            box-shadow: 0 0 5px $faded-grey;
            -webkit-box-shadow: 0 0 5px $faded-grey;
        }
    }
}

.item-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 37vh;
    padding-left: 18px;
    overflow: hidden;
    .card-header-div {
        height: 35%;
        h3 {
            margin: 10px 0 5px;
            overflow: hidden;
            white-space: nowrap;
            strong {
                color: $primary-color-faded;
                font-weight: lighter;
            }
        }
        p {
            color: $primary-color-faded;
            white-space: nowrap;
            button {
                background-color: $element-white;
                border: 1.2px solid $faded-grey;
                border-radius: 3px;
                padding: 3px 6px;
                box-shadow: none;
                color: $logo-backing-colour;
            }
        }
    }
    .card-text-div {
        height: 40%;
        div {
            overflow: hidden;
            --lh: 1.2rem;
            line-height: var(--lh);
            --max-lines: 5;
            position: relative;
            height: calc(var(--lh) * var(--max-lines));
            p {
                margin: 0;
            }
        }
    }
    .card-footer-div {
        height: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            white-space: nowrap;
            border-radius: 20px;
            padding: 7px 10px;
            background-color: $play-trailer-color;
            color: $filter-hover-color;
            border: none;
            font-size: 0.65em;
            .clipped-play-symbol {
                display: inline-block;
                background-color: $element-white;
                width: 12px;
                height: 14px;
                margin-right: 5px;
                clip-path: polygon(100% 50%, 0 0, 0 100%);
            }
            &:hover {
                background-color: $play-trailer-hover-color;
                cursor: pointer;
            }
        }
        .no-trailer-button {
            background-color: $faded-grey;
            color: $primary-color-faded;
            &:hover {
                cursor: not-allowed;
                background-color: $faded-grey;
                cursor: url("assets/not-available-cursor.png"), auto;
            }
            .clipped-play-symbol {
                background-color: $primary-color-faded;
            }
        }
        .card-ratings-div {
            flex-grow: 1;
            p {
                margin: 0;
                strong {
                    font-size: 1.2em;
                }
            }
            .card-ratings-bar {
                height: 5px;
                border-radius: 4px;
                overflow: hidden;
                max-width: 90px;
                background-color: $faded-grey;
                .card-ratings-color {
                    height: 100%;
                    width: var(--rating-width);
                    background-color: var(--rating-color);
                    transition: width 2s;
                }
            }
        }
    }
}

#modal-trailer-panel {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
        position: relative;
        button {
            position: absolute;
            top: 10px;
            right: 10px;
            &:hover {
                cursor: pointer;
            }
        }
        iframe {
            width: 80vw;
            height: calc(80vw / 1.7777777778);
        }
    }
}

#observer-div {
    position: absolute;
    bottom: 100vh;
    width: 50px;
    height: 50px;
}
// PC styling
@media only screen and (min-width: 1025px) {
    .item-card-content {
        .card-header-div {
            h3 {
                font-size: 1.3em;
            }
            p {
                button {
                    margin-right: 5px;
                }
            }
        }
        .card-footer-div {
            .card-ratings-div {
                .card-ratings-bar {
                    max-width: 135px;
                }
            }
            button {
                font-size: 0.9em;
            }
        }
    }
    #search-clear-button {
        right: 130px;
    }
}
@media only screen and (min-width: 1440px) {
    #results-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        #count-description {
            grid-column: 1 / 3;
            width: 100%;
        }
    }
}
